dt, dd {
  display: block;
  min-width: 100px;
}


dt {
  float: left;
  padding-right: 15px;
  clear: left;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.clearfix {
  &::after {
    content: ' ';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}


h3 {
  font-size: 1.25rem;
  border-bottom: 1px solid #EEE;
  clear: both;
  padding-top: .5em;
}


